.cat-clicks{
	font-size: 200%;
	color: green;
	margin: 10px;
}
#container{
	margin: 10px 50px;
	clear: both;
}

.btn{
	margin: 10px;
}
.clear{
	clear: both;
}
#admin{
	width: 30%;
	padding: 10px;
	margin-left: 50px;
}